html, body{ margin:0; height:100%; }
input[type=text], select, textarea {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-right: 10px;
  color: #666;
  font-size: 14px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.form-control-inline {
  display: inline-block;
  width: 150px;
}

.category-selects .form-control {
  display: inline-block;
  margin-right: 10px;
  width: 150px;
}
.category-wrap {
  float: left;
  padding-left: 15px;
}


.audience-wrap .audience-callout {
  top: 0;
  z-index: 100;
  margin-top: 0;
  margin-bottom: 0;
}
.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}
.bs-callout {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-left: 3px solid #eee;
}
.bs-callout-info h4 {
  color: #34789a;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 0;
}
.audience-wrap .selected-audience {
  margin-top: 15px;
}
.form-horizontal .embed {
    margin: 7px 0;
}
#calendarContainer {
    width: 595px;
}
#calendar {
    -webkit-user-select: none;
    position: relative;
    display: inline-block;
}
#calendar .schedule {
    background: rgba(100,255,0,.5);
    width: 0;
    height: 0;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    pointer-events: none;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
}
table#calendar-table {
    border-collapse: collapse;
}
table {
    font-size: 12px;
}
table#calendar-table tr td, table#calendar-table tr th {
    border: 1px solid #ddd;
    font-size: 12px;
    text-align: center;
    min-width: 11px;
    line-height: 1.8em;
    -webkit-transition: background 200ms ease;
    -moz-transition: background 200ms ease;
    -ms-transition: background 200ms ease;
    transition: background 200ms ease;
}
table#calendar-table tr td.calendar-atom-time {
    background: #f5f5f5;
}
#readableWeekTime .btn {
    float: right;
}
#readableWeekTime ul {
    padding-left: 20px;
}
li {
    list-style: none;
}
#readableWeekTime ul li span {
    margin: 0 3px;
    color: #666;
}
#readableWeekTime ul li time {
    font-size: 14px;
    padding: 0 5px;
}
#readableWeekTime ul li i.del {
    width: 15px;
    height: 15px;
    background-color: #d9534f;
    display: none;
    z-index: 10;
    color: #fff;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    cursor: pointer;
    font-family: '宋体';
    font-style: normal;
    border-radius: 20px;
}
#calendar-table tr td.chosen{
    background: rgba(255,100,0,.3)!important;
}

#list_shadow {position:absolute; z-index:9997; width:400px;height:435px; padding:15px 15px 5px;top: 769px; left: 269px;}
#box_shadow {z-index:100;height:100%;width:100%;position:fixed;z-index:100;}

.select-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.select-list ul li {
    border: 1px solid #ddd;
    padding: 3px 6px;
    padding-right: 3px;
    font-size: 14px;
    margin-right: 10px;
    float: left;
    margin-top: 10px;
    -webkit-animation: fadeInFromTop 500ms ease;
    -moz-animation: fadeInFromTop 500ms ease;
}
.select-list ul li i {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-size: 26px;
    line-height: 12px;
    margin-left: 3px;
    cursor: pointer;
}
