@charset "UTF-8";
.fz12 {
  font-size: 12px; }

.affix-bottom {
  position: relative; }

.form-group {
  margin-bottom: 25px; }

.loading-mask-show {
  overflow: hidden; }
  .loading-mask-show .loading-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1080;
    opacity: 0.9;
    background-color: #FFF;
    user-select: none; }
    .loading-mask-show .loading-mask .inner-mask {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center; }

/* 智能投放 */
.audience-circles {
  height: 200px;
  width: 300px;
  position: relative;
  float: left; }
  .audience-circles .au-circle {
    position: absolute; }
  .audience-circles .circle1 {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 50;
    border: 1px solid #F3F9D3; }
  .audience-circles .circle2 {
    left: 17%;
    top: 17%;
    width: 66%;
    height: 66%;
    border-radius: 50%;
    z-index: 60;
    border: 1px solid #FCE7BE; }
  .audience-circles .circle3 {
    left: 33.5%;
    top: 33.5%;
    width: 33%;
    height: 33%;
    border-radius: 50%;
    z-index: 70;
    border: 1px solid #F3F9D3; }
  .audience-circles .circle1.circle-current {
    background-color: #F3F9D3; }
  .audience-circles .circle2.circle-current, .audience-circles .circle-current + .circle2 {
    background-color: #FCE7BE; }
  .audience-circles .circle3.circle-current, .audience-circles .circle-current ~ .circle3 {
    background-color: #FDD6AC; }

.smart-tips {
  line-height: 200px;
  float: left;
  padding-left: 40px; }

.smart-warn {
  margin-top: 0; }

.control-label.smart-label {
  padding-top: 90px; }
  .control-label.smart-label.has-tooltip {
    top: 90px; }

.au-slider {
  left: 50%;
  top: 50%;
  position: absolute;
  width: 50%;
  z-index: 80;
  margin-top: -3px; }

.auslider-desc {
  padding: 0;
  position: absolute;
  width: 75%;
  top: 36%;
  left: 38%;
  z-index: 80;
  text-align: center; }
  .auslider-desc li {
    width: 33.333333%;
    float: left; }

/* 广告二级分类 */
.category-wrap {
  float: left;
  padding-left: 15px; }

#ad_category2, #ad_category3 {
  display: none; }

.form-control.category-select {
  width: 150px;
  float: left;
  margin-right: 15px; }

.tips-addon {
  border-left: none; }

/* 广告二级分类 */
/* 智能投放 */
.vspace {
  margin-top: 10px;
  margin-bottom: 10px; }

.vbspace {
  margin-bottom: 10px; }

.vtspace {
  margin-top: 10px; }

/* 开屏预览 */
.splash-preview-img {
  width: 160px; }

.splash {
  padding-left: 15px;
  padding-top: 59px;
  width: 186px;
  height: 393px;
  position: relative; }

.jump-circle, .btn-click-view {
  position: absolute;
  right: 16px; }

.jump-circle {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  width: 28px;
  height: 28px;
  line-height: 28px;
  top: 64px; }
  .jump-circle:before {
    content: '跳过';
    color: #FFF;
    font-size: 10px; }

.btn-click-view {
  display: none;
  bottom: 109px;
  border-radius: 13px;
  padding: 5px 10px;
  line-height: 1;
  background-color: rgba(255, 255, 255, 0.2); }
  .btn-click-view:before {
    content: '点击查看';
    font-size: 10px;
    color: #FFF; }

.toutiao-splash {
  background: url(../images/splash_bg_1.jpg) no-repeat top left; }

.essay-splash {
  background: url(../images/splash_bg_3.jpg) no-repeat top left; }
  .essay-splash .jump-circle, .essay-splash .btn-click-view {
    display: none; }

/* 开屏预览 */
/* 高级选项 */
.advance-dropdown .glyphicon {
  margin-left: 10px;
  float: right; }

.weather-label {
  float: left;
  padding-top: 7px;
  margin-right: 10px; }

.audience-item .checkbox-inline {
  float: left; }
  .audience-item .checkbox-inline + .audience-close {
    margin-left: 10px; }

/* 高级选项 */
/* 词包 */
.word-set {
  border: 1px solid #E5E5E5;
  padding: 10px 20px 20px; }
  .word-set legend {
    width: inherit;
    margin: 0;
    font-size: 16px;
    border-bottom: none; }

.word-set-modal .form-group {
  margin-bottom: 15px; }

.warning-tips {
  color: red; }

/* 词包 */
.category-selects .form-control {
  display: inline-block;
  margin-right: 10px;
  width: 150px; }
  .category-selects .form-control:last-child {
    margin-right: 0; }

.typeahead-group {
  position: relative;
  display: block; }
  .typeahead-group .loading-sign {
    position: absolute;
    right: 6px;
    top: 10px; }

.os-version label, .os-version select {
  float: left; }
.os-version label {
  line-height: 34px; }
.os-version select {
  max-width: 120px; }

/* 多创意 */
.multiple-creative .btn-add-creative {
  font-size: 35px;
  color: #000;
  cursor: pointer; }
.multiple-creative .creative-list {
  padding-left: 0;
  margin-bottom: 0; }
  .multiple-creative .creative-list li {
    float: left;
    position: relative;
    border: 1px solid #EEE;
    padding: 10px;
    margin: 0 10px 10px 0;
    width: 200px;
    height: 72px;
    font-size: 12px;
    cursor: pointer; }
    .multiple-creative .creative-list li:hover {
      border-color: #CCC; }
    .multiple-creative .creative-list li:nth-child(3n) {
      margin-right: 0; }
    .multiple-creative .creative-list li:last-child {
      width: auto;
      width: 72px;
      text-align: center; }
    .multiple-creative .creative-list li.creative-selected {
      border-color: #428BCA;
      background: url(../images/tick-sign.png) no-repeat right bottom; }
  .multiple-creative .creative-list .ctitle {
    width: 100px;
    float: left;
    height: 50px;
    overflow: hidden; }
  .multiple-creative .creative-list .cimg {
    display: block;
    float: left;
    width: 68px;
    height: 50px;
    margin-left: 10px; }
.multiple-creative .creative-tips {
  margin-left: 10px;
  color: red; }

/* 多创意 */
/* APP行为定向 */
.column-wrap {
  max-width: 480px;
  min-width: 442px; }
  .column-wrap .column-side {
    border: 1px solid #CCC;
    min-width: 220px; }
  .column-wrap .column-header {
    padding: 5px;
    background-color: #EEE;
    border-bottom: 1px solid #CCC; }
  .column-wrap .column-body {
    min-height: 52px; }
  .column-wrap .left-side {
    float: left; }
  .column-wrap .right-side {
    float: right; }
  .column-wrap .category-list {
    margin-bottom: 0;
    padding: 0 15px;
    line-height: 26px;
    max-height: 208px;
    overflow-y: scroll; }
  .column-wrap .category-selected {
    color: #CCC; }
  .column-wrap .list-items {
    padding: 0;
    margin-bottom: 0; }
    .column-wrap .list-items li {
      margin: 0 -15px;
      position: relative;
      padding-left: 15px; }
      .column-wrap .list-items li:nth-child(odd) {
        background-color: #EEE; }
    .column-wrap .list-items .fa {
      position: absolute;
      top: 6px;
      right: 15px; }
    .column-wrap .list-items .category-index {
      margin-right: 5px; }
  .column-wrap .sub-items li {
    padding-left: 40px; }
  .column-wrap .fa {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; }

.app-search {
  max-width: 480px;
  min-width: 442px; }
  .app-search .column-body {
    padding: 10px;
    min-height: 52px;
    max-height: 208px;
    overflow-y: scroll; }
  .app-search .column-side {
    width: 220px; }
  .app-search .search-bar .input-group-addon {
    cursor: pointer; }
  .app-search .app-name-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .app-search .app-search-list {
    padding: 0 15px;
    line-height: 26px;
    max-height: 208px;
    overflow-y: scroll;
    margin-bottom: 0; }
    .app-search .app-search-list .list-items {
      padding: 0px;
      margin-bottom: 0; }
    .app-search .app-search-list li {
      margin: 0 -15px;
      position: relative;
      padding: 0 25px 0 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .app-search .app-search-list li:nth-child(odd) {
        background-color: #EEE; }
    .app-search .app-search-list .fa {
      cursor: pointer;
      position: absolute;
      top: 6px;
      right: 15px; }
    .app-search .app-search-list .app-index {
      margin-right: 5px; }

/* APP行为定向 */
.selected-list {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0; }
  .selected-list li {
    border: 1px solid #DDD;
    padding: 3px 6px;
    padding-right: 3px;
    font-size: 14px;
    margin-right: 10px;
    float: left;
    -webkit-animation: fadeInFromTop 500ms ease;
    -moz-animation: fadeInFromTop 500ms ease; }
    .selected-list li:hover {
      border: 1px solid #357EBD; }
      .selected-list li:hover i {
        color: #357EBD; }
    .selected-list li i {
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: middle;
      font-family: "Times New Roman", Times, serif;
      font-style: normal;
      font-size: 26px;
      line-height: 12px;
      margin-left: 3px;
      cursor: pointer; }

.two-column-select {
  width: 432px;
  margin: 0 auto;
  position: relative; }
  .two-column-select input:focus, .two-column-select select:focus {
    outline: none; }
  .two-column-select .selector-pane {
    width: 190px; }
    .two-column-select .selector-pane h2 {
      font-size: 12px;
      border: 1px solid #CCC;
      background-color: #EEE;
      border-radius: 4px 4px 0 0;
      padding: 8px 5px;
      margin: 0; }
    .two-column-select .selector-pane .select-list {
      display: block;
      width: 100%;
      background-color: #FFF;
      border: 1px solid #CCC;
      border-radius: 0 0 4px 4px;
      padding: 5px;
      box-shadow: none;
      height: 150px; }
  .two-column-select .selector-filter {
    height: 35px;
    padding: 5px;
    position: relative;
    border: 1px solid #CCC;
    border-top: none;
    border-bottom: none; }
    .two-column-select .selector-filter .filter-icon {
      position: absolute;
      top: 10px;
      left: 5px; }
  .two-column-select .filter-left {
    padding-left: 25px; }
  .two-column-select .filter-right {
    line-height: 25px;
    font-size: 12px; }
  .two-column-select .filter-input {
    width: 100%; }
  .two-column-select .selector-chooser {
    width: 32px;
    position: absolute;
    top: 74px;
    left: 200px; }
  .two-column-select .selector-remove {
    margin-top: 10px; }
  .two-column-select .selector-available {
    float: left; }
  .two-column-select .selector-chosen {
    float: right; }
    .two-column-select .selector-chosen h2 {
      background-color: #D9EDF7; }
  .two-column-select .selector-batch {
    text-align: center;
    display: block;
    margin-top: 5px; }

/* 上传视频 */
.video-wrap .video-converter-span {
  line-height: 20px; }
.video-wrap .convert-holder, .video-wrap .video-uploading {
  color: #969696;
  line-height: 60px; }
.video-wrap .holder_video {
  width: 120px;
  min-height: 60px;
  background-color: #EEE;
  margin: 10px 0;
  text-align: center; }
  .video-wrap .holder_video .btn-fileinput {
    margin-top: 19px; }
  .video-wrap .holder_video .convert-failed {
    padding: 10px 0; }
  .video-wrap .holder_video .video-info {
    word-break: break-all;
    word-wrap: break-word;
    position: absolute;
    font-size: 12px;
    left: 125px;
    bottom: 0;
    width: 163px;
    text-align: left; }
  .video-wrap .holder_video .remove-sign, .video-wrap .holder_video .convert-holder, .video-wrap .holder_video + .progress, .video-wrap .holder_video .uploading-holder, .video-wrap .holder_video .video-thumb, .video-wrap .holder_video .convert-failed, .video-wrap .holder_video .video-info {
    display: none; }
  .video-wrap .holder_video.video-uploading .btn-fileinput {
    display: none; }
  .video-wrap .holder_video.video-uploading + .progress, .video-wrap .holder_video.video-uploading .uploading-holder {
    display: block; }
  .video-wrap .holder_video.video-converting .btn-fileinput {
    display: none; }
  .video-wrap .holder_video.video-converting + .progress, .video-wrap .holder_video.video-converting .convert-holder {
    display: block; }
  .video-wrap .holder_video.video-uploaded .btn-fileinput {
    display: none; }
  .video-wrap .holder_video.video-uploaded .remove-sign, .video-wrap .holder_video.video-uploaded .video-thumb, .video-wrap .holder_video.video-uploaded .video-info {
    display: block; }
  .video-wrap .holder_video.video-convert-failed .convert-failed {
    display: block; }

/* 上传视频 */
/* 受众样式 */
.audience-wrap {
  min-height: 128px; }
  .audience-wrap.textlink-audience-wrap {
    min-height: 74px; }
  .audience-wrap .audience-callout {
    top: 0;
    z-index: 100;
    margin-top: 0;
    margin-bottom: 0; }
  .audience-wrap .selected-audience {
    margin-top: 15px; }
  .audience-wrap .audience-adlist {
    border-right: 1px solid #CCC;
    width: 340px;
    max-height: 320px;
    overflow-y: auto;
    padding-left: 20px; }
    .audience-wrap .audience-adlist h4 {
      margin: 0 0 7px 0; }
    .audience-wrap .audience-adlist ul {
      padding-left: 0; }
    .audience-wrap .audience-adlist label {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
  .audience-wrap .ad-audience {
    width: 210px;
    max-height: 320px;
    overflow-y: auto; }
    .audience-wrap .ad-audience h4 {
      margin: 0 0 7px 0; }
  .audience-wrap .ad-audience-text {
    padding-left: 0; }
    .audience-wrap .ad-audience-text li {
      padding-top: 7px;
      height: 32px; }

.adtag-list {
  padding-left: 0; }
  .adtag-list > li {
    float: left;
    width: 100px; }

.entry-group .checkbox-inline {
  margin-left: 0;
  margin-right: 10px; }

/* 受众样式 */
.article-source {
  padding-right: 20px; }
  .article-source .glyphicon {
    display: none; }
  .article-source .help-block {
    margin-top: 7px; }
  .article-source .fa-spinner {
    margin: 10px 8px 0 0;
    height: auto;
    width: auto;
    display: none;
    float: left; }
  .article-source.has-success .glyphicon-ok {
    display: block; }
  .article-source.has-error .glyphicon-remove {
    display: block; }
  .article-source.source-validating .fa-spinner {
    display: inline-block; }
  .article-source .article-source-wrap {
    width: 325px;
    float: left;
    padding-right: 15px;
    position: relative; }
  .article-source .source-feedback {
    position: relative; }

.url-detect.has-feedback .glyphicon {
  display: none; }
.url-detect.has-feedback .form-control {
  padding-right: 42.5px !important; }
.url-detect.one-link.has-feedback .glyphicon {
  top: 0; }
.url-detect.has-success .glyphicon-ok {
  display: block; }
.url-detect.has-error .glyphicon-remove {
  display: block; }

/* 开屏图片预览背景拼接 */
.holder_640_1136 .image {
  background: url(../images/640x1136-160x54.jpg) no-repeat 0 bottom; }

.holder_640_960 .image {
  background: url(../images/640x960-160x50.jpg) no-repeat 0 bottom; }

.holder_480_800 .image {
  background: url(../images/480x800-120x40.jpg) no-repeat 0 bottom; }

/* 开屏图片预览背景拼接 */
.collapse-trigger .fa-angle-double-right {
  display: none; }
.collapse-trigger.collapsed .fa-angle-double-right {
  display: inline-block; }
.collapse-trigger.collapsed .fa-angle-double-down {
  display: none; }

.pricing-radios .radio-inline {
  margin-left: 0;
  margin-right: 10px; }
  .pricing-radios .radio-inline:last-child {
    margin-right: 0; }

/*# sourceMappingURL=create.css.map */

.fa-plus:before {
  content: "＋";
}

.fa-minus:before {
  content: "—";
}
